*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: black;
}
p{
    color: black;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    transition: transform 0.5s;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 70%;
    padding: 70px 0;
    grid-template-columns: repeat(4, 1fr);
    background-color: black;
}
.col-2 h1{
    font-size: 25px;
    line-height: 35px;
    margin: 25px 0;
}
.header{
    background: radial-gradient(chartreuse,ghostwhite);
}
.categories{
    margin: 70px 0;
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    flex-basis: 20%;
    min-width: 200px;
    margin-bottom: 30px;
    transition: transform 0.5s;
}
.listProduct .item{
    background-color: #8a8a8a;
    padding: 20px;
}
.listProduct .item .price{
    letter-spacing: 7px;
}
.listProduct .item button{
    background-color: #084e2e;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
}
.listProduct .item img {
    width: 90%;
    border-color: black; border: 5px solid #084e2e;
    background-color: black;
} 
.addCart{
    background-color: #000;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}
.cartTab{
    width: 400px;
    background-color: #000;
    color: white;
    position: fixed;
    inset:  0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: 0.5s;
}
body.showCart .cartTab{
    inset: 0 0 0 auto;
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 250;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab .btn button{
    background-color: #084e2e;
    font-weight: 350;
    cursor: pointer;
}
.cartTab .btn .CLOSE{
    background-color: #0df6a4;
}
.cartTab .CartList .item img{
  width: 100%;  
}
.cartTab .CartList .item{
    display: grid;
    grid-template-columns: 70px 70px 80px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    color: white;
}
.CartList .quantity span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #084e2e;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}
.CartList .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}
.CartList .item:nth-child(even){
    background-color: rgba(5, 255, 109, 0.278) ;
}
.CartList{
    overflow: auto;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #084e2e;
}
.title::after{
    content: '';
    background-color: black;
    width: 200px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.listProduct img:hover{
    transform: translateY(-15px);
}
.footer{
    background: #000;
     color: #8a8a8a;
     font-size: 14px;
     padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: white;
    margin-bottom: 20px;
}
.footer-col-2, .listProduct, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-2{
    flex-basis: 20%;
    text-align: center;
}
.footer-col-2 img{
    width: 170px;
    margin-bottom: 20px;
    grid-template-columns: repeat(4, 1fr);
    background-color: black;
}
.footer-listProduct{
    flex-basis: 10%;
    text-align: center;
}
.footer-col-4{
    flex-basis: 10%;
    text-align: right;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: white;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: rgb(173, 173, 173);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #084e2e;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}


/*---all products css---*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 2px solid #084e2e;
    padding: 5px;
}
select:focus{
    outline: none;
}
/*---media query for less than 600 screen size---*/
@media only screen and (ax-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}
